* {
    margin: 0;
    padding: 0;
}

body {
    height: 95vh;
    background-color: #54626f;
    font-size: 100%;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    height: 100vh;
    background-color: #54626f;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.row {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid red; */
}

h1 {
    font-size: 3em;
}

#subtitle {
    font-size: 1.6em;
}

p#subtitle {
    color: #54626f;
}

svg {
    color: white;
    margin: 20px;
    /* border: 1px solid black */
}

#door {
  z-index: 10;
}

button {
    border: 1px solid #54626f;
    background-color: #54626f;
    color: #54626f;
    padding: 0.5em;
    font-size: 1.2em;
    text-transform: uppercase;
}

button:hover, .fab:hover{
    /* color: #e3256b; */
    /* border-color: #e3256b; */
    background-color: #ff0f67;
}


/* #enter {
    font-weight: bold;
} */

i{
    color: white;
    border: white 1px solid;
    padding: 0.3em;
    font-size: 2em;
    border-radius: 1em;
    margin: 0.2em;
    margin-top: 2em;
}

.fa-linkedin-in {
    padding-left: 0.4em;
    padding-right: 0.4em;
}
